<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Finstagram Log In</title>
  </head>
  <body>
    <h1>Login in to view Finstagram</h1>
    <form action="/login" method="post">
      <label>Username: </label>
      <input type="text" name="username" value="">
      <br><br>

      <label>Password: </label>
      <input type="password" name="password" value="">
      <br><br>

      <input type="submit" value="Log In">
      <br><br>

      <a href="/signup">No account? Sign up here!</a>
    </form>
  </body>
</html>
