<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Create an account to begin posting</h1>
    <form action="/signup" method="post">
      <label>Username: </label>
      <input type="text" name="username" value="Required">
      <br><br>

      <label>Learn Handle</label>
      <input type="text" name="learn_handle" value="Optional">
      <br><br>

      <label>Profile Photo: </label>
      <input type="text" name="user_photo" value="Optional">
      <br><br>

      <label>Password: </label>
      <input type="password" name="password">
      <br><br>

      <input type="submit" value="Sign Up">
    </form>
  </body>
</html>
