<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Finstagram</title>
  </head>
  <body>
    <% if flash.has?(:error) %>
    <p><%= flash[:error] %></p>
    <% elsif flash.has?(:success) %>
    <p><%= flash[:success] %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
